html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #594157;
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: gainsboro;
  }
} */

@media screen and (max-width: 800px) {
  html {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    min-width: fit-content;
  }
}
