.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 285px;
  background-color: #594157;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title {
  color: #7bf1a8;
}

.profilepic {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border: 2px solid #726da8;
}

.welcome {
  margin: 25px;
  color: #7bf1a8;
}

.sitelinks {
  margin: 0px 25px 0px 25px;
}

.sitelink,
.sitelink:visited {
  color: #bee7e8;
}

.sitelink:hover {
  color: #726da8;
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  flex-direction: row-reverse;
}

.aboutSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  width: 30%;
}

.aboutSection2 {
  margin: 0 25px 25px 25px;
  width: 70%;
}

.aboutName {
  margin: 25px;
  color: #7bf1a8;
  font-size: xx-large;
}

.aboutme {
  height: 350px;
  width: 350px;
  border: 2px solid #726da8;
}

.aboutInfo {
  color: #bee7e8;
  margin: 25px;
  font-size: larger;
}

.aboutButton {
  border: 2px solid black;
  width: 200px;
  height: 40px;
  margin: 5px 5px 5px 25px;
  background-color: #726da8;
  color: #bee7e8;
}

.aboutButton:hover {
  background-color: #7d8cc4;
  color: #7bf1a8;
}

.experience {
  border: 2px solid black;
}

.techstacks {
  color: #7bf1a8;
}

.techicon {
  width: 180px;
  height: 180px;
  transition: transform 0.2s;
}

.techicon:hover {
  transform: scale(1.1);
}

.proficient {
  border: 2px solid black;
}

.featured {
  border: 2px solid black;
}

@media (max-width: 600px) {
  .about,
  .proficient,
  .experience,
  .featured {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
