.main {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 0 2rem;
}

.header {
  border: 2px solid black;
}

.profilepic {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border: 2px solid black;
}

.links {
  border: 2px solid black;
}

.about {
  border: 2px solid black;
}

.aboutme {
  height: 350px;
  width: 350px;
  border: 2px solid black;
}

.proficient {
  border: 2px solid black;
}

.experience {
  border: 2px solid black;
}

.featured {
  border: 2px solid black;
}

@media (max-width: 600px) {
  .about,
  .proficient,
  .experience,
  .featured {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
