.coloredNav {
  background-color: #726da8 !important;
  height: 70px;
  margin: 0px;
}

.navContainer {
  margin: 0px !important;
  padding: 0px !important;
  width: 4% !important;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 96% !important;
  margin: 21.5px !important;
}

.navlink {
  font-weight: bold !important;
  font-size: large !important;
  color: #bee7e8 !important;
  margin-right: 25px;
  margin-left: 25px;
}

.navlink:hover {
  color: #7bf1a8 !important;
  text-decoration-line: underline;
  text-underline-offset: 7px;
  text-decoration-color: #ffd6e0;
}
