.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #594157;
  margin: 25px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 75%;
  margin-bottom: 15px;
}

.appTitle {
  color: #ffd6e0;
  text-decoration: underline;
  text-decoration-color: #726da8;
  text-underline-offset: 7px;
}

.githubLink {
  color: #ffd6e0;
  font-size: 32px;
}

.githubLink:hover {
  color: #726da8;
  cursor: pointer;
}

.technologies {
  width: 75%;
  align-self: center;
  margin-bottom: 16px;
  font-size: larger;
  color: #7bf1a8;
}

.gifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gifVideo {
  border: 4px solid #726da8;
  border-radius: 25px;
  width: 604px;
  height: 307px;
}

.appPic {
  border: 4px solid #726da8;
  border-radius: 25px;
  width: 500px;
  height: 400px;
}

.appInfo {
  align-self: center;
  width: 75%;
  margin-top: 16px;
  margin-bottom: 25px;
  color: #bee7e8;
  font-size: larger;
}

.appInfoLastParagraph {
  align-self: center;
  width: 75%;
  margin-top: 16px;
  margin-bottom: 0px;
  color: #bee7e8;
  font-size: larger;
}

@media screen and (max-width: 800px) {
  .headerContainer {
    width: 100%;
  }
  .technologies {
    width: 100%;
  }
  .gifVideo {
    margin: 0;
    width: 100%;
    max-width: 430px;
    height: auto;
    min-width: auto;
  }
  .appPic {
    margin: 0;
    width: 100%;
    max-width: 430px;
    height: auto;
    min-width: auto;
  }
  .appInfo {
    width: 100%;
  }
  .appInfoLastParagraph {
    width: 100%;
  }
  .appTitle {
    width: 75%;
  }
  .githubLink:first-child {
    width: 35px;
    height: auto;
  }
}
