.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #594157;
  margin: 25px;
}

.hiring {
  color: #7bf1a8;
}

.textEffect {
  text-decoration-color: #ffd6e0;
  text-underline-offset: 7px;
}

.connect {
  color: #bee7e8;
  margin-top: 25px;
}

.email {
  text-decoration: underline;
  text-decoration-color: #726da8;
  text-underline-offset: 7px;
}

.sitelink,
.sitelink:visited {
  color: #bee7e8;
  margin: 25px 7px;
}

.sitelink:hover {
  color: #726da8;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .contactContainer {
    text-align: center;
  }
}
